/**
* FULL WIDTH PAGE
*/

.page-template-full-width .entry-header {
    width: 100%;
}
.page-template-full-width h1.entry-title {
    text-align: center !important;
}

/**
* PAGE ARTICLE 
*/

@media(min-width: 768px)
{
    body.blog .post-content {
        float: left;
        width: 70%;
        padding-top: 5px;
    }
}

@media(max-width: 1000px)
{
    .head-info-area.row {
        display: none;
    }
}